/* Coolors Exported Palette - https://coolors.co/ffbe0b-fb5607-ff006e-8338ec-3a86ff */

:root {
    /* CSS HEX Arizona Tour*/
--light-cornflower-blue: #8ecae6ff;
--blue-green: #219ebcff;
--prussian-blue: #023047ff;
--selective-yellow: #ffb703ff;
--tangerine: #fb8500ff;
/* SCSS HEX Summer Fun */
--amber: #ffbe0bff;
--orange-pantone: #fb5607ff;
--winter-sky: #ff006eff;
--blue-violet: #8338ecff;
--azure: #3a86ffff;
/* CSS HEX Subtle Serenity */
--space-cadet: #22223bff;
--independence: #4a4e69ff;
--heliotrope-gray: #9a8c98ff;
--silver-pink: #c9ada7ff;
--isabelline: #f2e9e4ff;
}
