section {
    width: auto;
    margin: 3rem;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.currentDayDateTime {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    background-color: azure;
    color: rgb(43,43,43);
    border: dotted .25rem darkorange;
    border-radius: 50%;
    text-align: center;
}


