
* {
    background-color: rgb(79, 75, 91);
    color:rgb(162, 153, 187);
    margin: 0;
    padding: 0;
    font-family: lucida handwriting;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(135, 135, 177), 0 0 5px rgb(36, 36, 66);
}


#traveljournal {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    font-family: lucida handwriting;
    font-stretch: expanded;
    letter-spacing: 7px;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(135, 135, 177), 0 0 5px rgb(36, 36, 66);
}

.heading {
    position: fixed !important;
    background-color: transparent !important;
    z-index: 30;
}

.carousel {
    padding-bottom: 3%;
}

.carousel-inner img {
    display: flex;
    height: 70vh;
    width: auto;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    z-index: 1;
    margin: auto;
}

.carousel-indicators  {
    bottom: -30px !important;
    overflow: visible !important;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    width: auto;
    z-index: 20;
    overflow: hidden;
    background-color: transparent !important;
}

.navlist {
    width: 75px;
    z-index: 25;
    background-color: transparent !important;
}

.navdates {
    display: block;
    text-align: left;
    width: 20;
    background-color: transparent !important;
}

li a {
    display: block;
    list-style-type: none;
    text-decoration: none;
    padding: 8px;
    font-family: lucida handwriting;
    font-size: 15px;
    color:rgb(162, 153, 187);
    z-index: 20;
    background-color: transparent !important;
}

li a:hover:not(.active) {
    font-weight: bold;
    text-decoration: none !important;
    color:rgb(233, 231, 237);
    background-color: transparent !important;
}

.yearcar, .yearcamp, .yearbaby, .yearestablished {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(135, 135, 177), 0 0 5px rgb(36, 36, 66);
    text-align: center;
    justify-content: center;
    padding-top: 20%;
}

.cartrips, .campingtrips, .baby, .married {
    font-size: 30;
    font-family: Lucida handwriting;
    font-stretch: expanded;
    letter-spacing: 5px;
    text-align: center;
    padding: 25px;
}

.row {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    height: auto;
    margin-right: 0;
    padding-top: 0px;
}

.rowslim {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    height: 100px;
}

.photo {
    height: 100%;
    width: auto;
    border-radius: 10%;
}

.photo_portrait {
    height: 75%;
    width: auto;
    border-radius: 10%;
}

.full-photo {
    background:url(page_pictures\tulipblackandwhite.JPG);
    display: inline;
    z-index: 0;
    align-self: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding:0;

}
.full-page {
    display: flex;
    height: 100vh;
    width: 100%;
    align-self: center;
    justify-content: center;
    overflow: hidden;
}


.yearestablished {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(135, 135, 177), 0 0 5px rgb(36, 36, 66);
    text-align: center;
    justify-content: center;
    padding-top: 0;
}

.married, .baby {
    font-size: 30px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.circle {
    display: flex;
    border-style: groove;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    justify-content: center;
}

.rings {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ring1 {
    z-index: 5;
    position: relative;
    opacity: 80%;
    margin-right: 100px;
}

#ring2 {
    z-index: 4;
    position: absolute;
    opacity: 80%;
    margin-left: 100px;
}

#diamond {
    z-index: 3;
    position: relative;
    display: inline-block;
    border-left: 25px solid transparent;
    border-right:25px solid transparent;
    border-top: 30px solid silver;
    border-bottom: 25px solid transparent;
    height: 20px;
    width: 20px;
    transform: rotate(34deg);
    right: 40px;
    bottom: 65px;
}

#created {
    position: fixed;
    align-items: center;
    text-align: center;
    bottom: 100px;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black, 0 0 5px rgb(135, 135, 177), 0 0 5px rgb(36, 36, 66);
    margin-bottom: 0px;
    font-family: lucida handwriting;
    background-color: transparent;
}