.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn--bordered.btn--primary {
    color: #2d53fe;
    border-color: #2d53fe;
}

.games {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    margin-top: 4rem;
}
#eightBallDisplay {
    display: inline-flex;
    flex-direction: column;

}

.eightBallQuestion {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 8rem;
}

img {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}