.breadcrumb {
    display: inline;
  }
  
   li.location+li.location::before {
    content: "/ ";
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .secondarynav {
    padding-bottom: 20px;
  }
  li.attribute a {
    color: gray;
  }
  li.attribute::after {
    content: "x";
    color: red;
    font-size: 10px;
    vertical-align: super;
  }