* {
    font-family: Arial, Helvetica, sans-serif;
}

#dasmoto-title {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("pattern.jpeg");
    width: 100%;
    
}

.section-title {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brushes {
    background-color: mediumspringgreen;
}
#frames {
    background-color: lightcoral;
}
#paint {
    background-color: skyblue;
}

h6 {
    font-size: 23px;
    font-weight: bold;

}

span {
    font-weight: bold;
    color: blue;
}

