*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: rgb(255, 255, 180);
}
html {
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: auto;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*NAV*/
div#menu-navbox {
    width: 100%;
    height: auto;
}
.fade {
    padding-top: 1px;
    display: none;
}
.fade2 {
    display: inline;
}
div#nav {
   margin: 0;
}
nav {
    position: absolute;
    top: 2rem;
    left: 6rem;
	transition: all 60s ease;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
    padding: 1rem;
}
nav a {
    color: black;
    background-color: rgba(104, 160, 213, 0.25);
    font-size: 1.5rem;
    padding:10px;
    text-decoration:none;
    display:inline;
    font-weight:bolder;
    letter-spacing:2px;
    float: left;
}
nav a:hover {
    background-color: rgba(104, 160, 213, 0.5);
}
a.active {
    background-color: rgba(104, 160, 213, 0.5);

}
button {
    display:block;
    background:transparent;
    border: 0;
    text-align:center;
    position:fixed;
    top:10px;
    left:10px;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
    z-index:500;
}
img#menu {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
/* Contact Section */
header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column wrap;
    padding: 3rem;
    margin-top: 3rem;
  }
h1.introduction {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    text-decoration: underline;
}
p.introduction {
    font-style: italic;
    font-size: 5rem;
    margin: 1rem;
    padding: 2rem;
    font-family: lucida handwriting;
}
div.socialbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
a.social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 6rem;
    width: 6rem;
  }
a.social-link img {
    z-index: 100;
    width: 100%;
    height: auto;
}
a.social-link img:hover {
    height: auto;
    width: 5rem;
    opacity: 0.7;
}
div.icon-box {
    padding: 3rem;
}
  /* Certification Section */
#certifications {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
.proof {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
/* Spinner */
.attempt {
  position: absolute;
  top: 20%;
  left: 30%;
  margin-left: -50px;
  margin-top: -50px;
}
.spinner-border {
  height: 15rem !important;
  width: 15rem !important;
  animation: 2s linear infinite spinner-border !important;
  border: 2rem dotted !important;
  border-radius: 50% !important;
}
span {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 35%;
  font-style: italic;
  font-weight: bold;
}
footer {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    height: auto;
    font-family: lucida handwriting;
    font-style: italic;
    font-size: 2rem;
    text-align: center;
}
