* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    font-family: Papyrus, sans-serif;
}

:root {
    --main-shadow-color: rgba(41, 41, 41, 0.51);
    --bg-shade: rgba(41, 41, 41, 0.766);
    --slight-bg-shade: rgba(41, 41, 41, 0.337); 

}

body {
    margin: 0;
    padding: 0;
}

html {
    background-image: url(woodbackground.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
    font-style: italic;
}

div.container {
    display: inline-flex;
    flex-flow: row wrap;
    height: auto;
    width: auto;
}

@media only screen and (max-width: 800px){
    h1 {
        font-size: 5rem;
    }
}
@media only screen and (max-width: 700px){
    h1 {
        font-size: 4rem;
    }
}
@media only screen and (max-width: 600px){
    header {
        padding: 1rem !important;
    }
        h1 {
        font-size: 3rem;
    }
    div.grid-item-nav a {
            font-size: 1.25rem;
    }
    div.pictures {
        margin: 4rem !important;;
    }
}
@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }
    div.grid-item-nav a {
        font-size: 1rem;
}
}

/* Navigation Bar */
.container-nav {
    height: 5rem;
    width: 100%;
    padding-top: 1rem;
    background-image: url("paper.jpg");
    background-position: center;
    background-attachment: fixed;
    box-shadow: 3rem 3rem 3rem var(--main-shadow-color);
    border-bottom: .2rem solid black;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-evenly;
}

.grid-item-nav a {
    color:rgb(51, 31, 12);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.grid-item-nav a:hover {
    color: beige;
}

/*Title */
header {
    padding: 3rem;
}

/* Pictures */
div.pictures {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 3rem 3rem 3rem var(--main-shadow-color), 
    -3rem -3rem 3rem var(--main-shadow-color),
    -3rem 3rem 3rem var(--main-shadow-color),
    3rem -3rem 3rem var(--main-shadow-color);
    background-color: var(--bg-shade);
    margin: 5rem;
    border-radius: 50%;
    gap: 1rem
}

img.L {
    height: 7rem;
    width: auto;
    overflow: hidden;
}

img.P {
    height: 7auto;
    width: 7rem;
    overflow: hidden;
}

img.item:hover {
    height: 20rem;

} 

/* Quotes */
div.quote {
    display: inline-flex;
    height: auto;
    width: 100%;
    padding: 2rem;
    margin: 5rem 0;
    background-color: var(--slight-bg-shade);
    border-radius: 25%;
}

h3.quotation {
    display: flex;
    justify-content: flex-start;
}

h4.source {
    display: flex;
    justify-content: flex-end;
}

.container-bottom-nav {
    height: 5rem;
    width: 100%;
    padding-top: 1rem;
    background-image: url("paper.jpg");
    background-position: center;
    background-attachment: fixed;
    box-shadow: 3rem 3rem 3rem var(--main-shadow-color);
    border-top: .2rem solid black;
}
