/* Universal Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

html {
    font-family: "Roboto", sans-serif;
    background-image: url("EDITspongebobbackground.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
  }

nav.nav-container {
    display: flex;
    position: fixed;
    width: auto;
    height: 90%;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: start;
}

nav li {
    display: block;
    padding: 1rem;
}

nav li a {
    text-decoration: none;
    color: mediumaquamarine;
    font-size: 2rem;
    text-shadow: 1rem 1rem 1rem black, 1rem 1rem 1rem darkslategray;
}

nav li a:hover {
    font-weight: bold;
    color:rgb(173, 222, 205);
}

div.banner-container {
    display: block;
    height: auto;
  }

div.banner-image {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

div.banner-image img {
    position: relative;
    display: flex;
    max-width: 50%;
    height: auto;
    z-index: -100;
    box-shadow: 3rem 3rem 5rem black, 3rem 3rem 10rem darkslategray;
    border-radius: 20%;
  }

div.banner-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 5rem;
}

div.banner-title h1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 1rem;
    color: greenyellow;
    font-size: 3.75rem;
    text-shadow: 1rem 1rem 1rem black, 1rem 1rem 1rem darkslategray;
}

div.mission-statement {
    margin: 10rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(105, 5, 155, 0.462);
    border-radius: 50%;
}

.mission-statement:hover {
    background-color: rgba(105, 5, 155, 0.986);
}
    
div.mission-statement h2{
    font-size: 1.5rem;
    line-height: 3rem;
    font-style: italic;
    color: mediumaquamarine;
    text-shadow: 1rem 1rem 1rem black, 1rem 1rem 1rem darkslategray;
}

  /*Laptop Vertical*/
  @media only screen and (max-width: 1023px) {
    div.banner-title h1 {
        font-size: 3.25rem;
    }
  }

  /*Tablet vertical*/
@media only screen and (max-width: 949px) {
    nav li a {
        font-size: 1.75rem;
        padding: 0 .75rem;
    }
    div.banner-title h1 {
        font-size: 3rem;
        width: 31.25rem;
        text-align: center;
    }
    div.mission-statement h2 {
        font-size: 1.25rem;
    }
}

/*Smartphone*/
@media only screen and (max-width: 767px) {
    nav li a {
        padding: 0 .5rem;
    }
    div.banner-title h1 {
        font-size: 3rem;
    }
    div.mission-statement h2 {
        font-size: 1rem;
    }
}

/*Mid-Point break for grid*/
@media only screen and (max-width: 640px) {
    nav li a {
        font-size: 1.5rem;
    }
    div.banner-title h1 {
        font-size: 2rem;
        width: 60%;
    }
    div.mission-statement h2 {
        font-size: 1rem;
        text-align: center;
    }
}

/*TEENY Screen*/
@media only screen and (max-width: 460px) {
    nav li a {
        font-size: .75rem;
        padding: 0 .25rem;
    }
    div.banner-title h1 {
        font-size: 2rem;
    }
    div.mission-statement h2 {
        font-size: .75rem;
        text-align: center;
    }
}

/*Product Container*/
div.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5rem;
    margin: 4rem;
    gap: 2rem;
    align-items: center;
}

div.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.grid-item img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    box-shadow: 3rem 3rem 3rem black, 3rem 3rem 5rem darkslategray;
}

/*Tablet vertical*/
@media only screen and (min-width:768px) and (max-width: 1023px) {

}

/*Smartphone*/
@media only screen and (max-width: 767px) {
    div.grid-container {
        grid-template-columns: auto auto;
        padding: 50px;
    }
}
/*Mid-Point break for grid*/
@media only screen and (max-width: 640px) {
    div.grid-container {
        padding: 50px;
    }
}
/*TEENY Screen*/
@media only screen and (max-width: 530px) {
    div.grid-container {
        grid-template-columns: auto;
        padding: 50px;
    }
}











/*Tablet vertical*/
@media only screen and (min-width:768px) and (max-width: 1023px) {
}

/*Smartphone*/
@media only screen and (max-width: 767px) {
}

/*TEENY Screen*/
@media only screen and (max-width: 460px) {
}