/* Universal Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

html {
    font-family: "Roboto", sans-serif;
    background-image: url("EDITspongebobbackground.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
  }

nav.nav-container {
    display: flex;
    position: fixed;
    width: auto;
    height: 90%;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
}

nav li {
    display: block;
    padding: 1rem;
}

nav li a {
    text-decoration: none;
    color: mediumaquamarine;
    font-size: 2.5rem;
    text-shadow: 2rem 2rem 2rem black, 0rem 0rem 2rem darkslategray;
}

div.banner-container {
    display: block;
    height: auto;
  }

div.banner-image {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

div.banner-image img {
    position: relative;
    display: flex;
    max-width: 50%;
    height: auto;
    z-index: -100;
    box-shadow: 2rem 2rem 100rem black, 0 0 200rem darkslategray;
    border-radius: 20%;
  }

  div.banner-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

div.banner-title h1 {
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: greenyellow;
    font-size: 2rem;
    text-shadow: 1rem 1rem 2rem black, 0 0 2rem darkslategray;
}

div.banner-title h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    width: 50%;
    color: rgb(12, 69, 87);
    font-size: 1rem;
}

  /*Tablet vertical*/
@media only screen and (min-width:768px) and (max-width: 1023px) {
    nav li a {
        text-decoration: none;
        color: mediumaquamarine;
        font-size: 2rem;
        padding: 0 .75rem;
        text-shadow: 2rem 2rem 2rem black, 0rem 0rem 2rem darkslategray;
    }
    div.banner-title h1 {
        font-size: 1.5rem;
    }
    div.banner-title h2 {
        font-size: .75rem;
    }
}

/*Smartphone*/
@media only screen and (max-width: 767px) {

    nav li a {
        text-decoration: none;
        color: mediumaquamarine;
        font-size: 1.5rem;
        padding: 0 .5rem;
        text-shadow: 2rem 2rem 2rem black, 0rem 0rem 2rem darkslategray;
    }
    div.banner-title h1 {
        font-size: 1rem;
    }
    div.banner-title h2 {
        font-size: .5rem;
    }
}

/*TEENY Screen*/
@media only screen and (max-width: 460px) {
    nav li a {
        text-decoration: none;
        color: mediumaquamarine;
        font-size: .75rem;
        padding: 0 .25rem;
        text-shadow: 2rem 2rem 2rem black, 0rem 0rem 2rem darkslategray;
    }
    div.banner-title h1 {
        font-size: .75rem;
    }
    div.banner-title h2 {
        font-size: .5rem;
        text-align: center;
    }
}

/*Mission Container*/
div.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5rem;
    margin: 4rem;
    gap: 2rem;
    align-items: center;
}

div.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.grid-item img {
    height: 10rem;
    width: 10rem;
}

/*Tablet vertical*/
@media only screen and (min-width:768px) and (max-width: 1023px) {

}

/*Smartphone*/
@media only screen and (max-width: 767px) {
    div.grid-container {
        grid-template-columns: auto auto;
        padding: 50px;
    }
}
/*Mid-Point break for grid*/
@media only screen and (max-width: 640px) {
    div.grid-container {
        padding: 50px;
    }
}
/*TEENY Screen*/
@media only screen and (max-width: 530px) {
    div.grid-container {
        grid-template-columns: auto;
        padding: 50px;
    }
}











/*Tablet vertical*/
@media only screen and (min-width:768px) and (max-width: 1023px) {
}

/*Smartphone*/
@media only screen and (max-width: 767px) {
}

/*TEENY Screen*/
@media only screen and (max-width: 460px) {
}